// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$gray: #0E0000;
$light-gray: #F4F4F4;
$orange: #F07000;
$blue: #0095FF;
$green: #0BE400;
$whiteish: #E9E9E9;
$greyish: #D4D4D4;
$dark-blue: #000263;
$dark-green: #005E1C;
$darkest: #001022;

