<div class="bg-success half-pipe-top p-4">Nome da Marca</div>
<div class="main-content">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
</div>
<div class="position-relative bg-success half-pipe-bottom p-4">
  <div class="position-absolute bg-info top-0 end-0 translate-middle rounded-pill p-3">
    <%= link_to "https://m.uber.com/looking" do %>
      <%= image_tag("whatsapp_logo.png",size: "28x28") %>
    <% end %>
  </div>
  about e whatsapp
</div>
